* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* default body, main, header, footer */

body {
    background: #b4afc0;
}

main {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}

main div {
    border: 1px solid red;
}



 header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    grid-area: header;
    background-color: #ffeaa7;
}

footer {
    grid-area: footer;
    background-color: #fab1a0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* nav */

#nav {
    display: flex;
    justify-content: space-between;
}

#header-navigation-ul {
    display: flex;
    justify-content: flex-end;
}

#header-navigation-ul li {
    list-style: none;
    margin: 1em;
    font-size: 1em;
}