* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* for any padding, margin, and box-sizing values that aren't reset via normalize.css */
}

:root {

    /* font: family, colours, style */

    /* background colours */
    --header-background-colour: cyan;
    --footer-background-colour: cyan;
    --body-background-colour: lightgreen;
}

#page-container {
    background-color: var(--body-background-colour);
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 100vh;
}

#header-global {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--header-background-colour);
    height: 5rem;
}

#footer-global {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--footer-background-colour);
    height: 5rem;
}

.header-navigation,
.footer-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-navigation-ul,
.footer-navigation-ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-right: 2rem;
}

.header-navigation-li,
.footer-navigation-li {
    list-style-type: none;
}