/* Main */

#review-page-container { /* ID for review class; contains everything except header and footer */
    padding-top: 5rem;
    padding-bottom: 5rem;
    /* padding for space between header/footer and the rest of the page, since header/footer are fixed */
    height: 100vh;
    display: flex;
}

#review-table {
    width: auto;
    height: auto;
    margin: 2rem;
    align-self: flex-start;
    border-collapse: collapse;
    /*merge borders of adjacent cells */
    border: groove 1rem var(--form-border-color);
}

#review-table th,
#review-table td {
    padding: 1rem;
}