/* - - - Universal - - - */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* - - - Variables - - - */

:root {
    --body-background-color: #faf9f6;
    --body-text-color: #5a5a56;

    --body-links-unvisited-font-color: #6c7a89;
    --body-links-visted-font-color: #8a999f;
    --body-links-hover-font-color: #4c5d6e;
    --body-links-active-font-color: #35465c;
    --body-links-focus-outline-color: #95a3ad;

    --form-background-color: #f0f1f3;
    --form-text-color: #50504d;
    --form-button-background-color: #74808a;
    --form-button-background-color-hover: #8a959e;
    --form-button-text-color: #f5f6f7;

    --header-background-color: #d4d7d9;
    --header-text-color: #3e4448;

    --header-links-unvisited-font-color: #59636a;
    --header-links-visted-font-color: #75818a;
    --header-links-hover-font-color: #3f4a52;
    --header-links-active-font-color: #2b3239;
    --header-links-focus-outline-color: #a1a8ac;

    --footer-background-color: #c6c9cc;
    --footer-text-color: #3b3f42;
}

/* - - - Body - - - */

body {
    background: var(--body-background-color);
    color: var(--body-text-color);
}

a {
    text-decoration: none;
}

a:focus {
    outline: 2px dashed var(--body-links-focus-outline-color);
    outline-offset: 4px;
}

a:link {
    color: var(--body-links-unvisited-font-color);
}

a:visited {
    color: var(--body-links-visted-font-color);
}

a:hover {
    color: var(--body-links-hover-font-color);
    transform: scale(1.08);
}

a:active {
    color: var(--body-links-active-font-color);
}

.body-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "global-header"
    "global-main"
    "global-footer";
}

/* Form */

form {
    padding: 2rem;
    background: var(--form-background-color);
    color: var(--form-text-color);
    box-shadow: 0 0 5px rgba(23, 22, 22, 0.2);
    border-radius: 10px;
}

/* targets all the input labels/areas in the form */
form input[type="text"],
form input[type="submit"],
form input[type="tel"],
form input[type="email"],
form input[type="password"],
form button[type="submit"] {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button[type="submit"] {
    width: 30%;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    background: var(--form-button-background-color);
    color: var(--form-button-text-color);
    padding: .75rem;
    border-radius: 10px;
    margin-top: 1rem;
}

form button[type="submit"]:hover {
    transform: translateY(1px);
    background: var(--form-button-background-color-hover);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* - - - Header - - */

.global-header {
    grid-area: global-header;
    display: flex;
    justify-content: space-between;
    height: 90px;
    background: var(--header-background-color);
    color: var(--header-text-color);
}

/* Logo */

#header-logo {
    width: 100%;
}

#img-logo {
    height: 80px;
    width: auto;
}

/* Title */

#header-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nav */

#header-nav {
    display: flex;
    width: 100%;
    justify-content: end;
}

#header-nav-ul {
    display: flex;
    align-items: center;
}

#header-nav-ul li {
    text-decoration: none;
    list-style: none;
    margin: 2em;
}

#header-nav-ul li a:focus {
    outline: 2px dashed var(--header-links-focus-outline-color);
    outline-offset: 4px;
}

#header-nav-ul li a:link {
    color: var(--header-links-unvisited-font-color);
}

#header-nav-ul li a:visited {
    color: var(--header-links-visted-font-color);
}

#header-nav-ul li a:hover {
    color: var(--header-links-hover-font-color);
    transform: scale(1.08);
}

#header-nav-ul li a:active {
    color: var(--header-links-active-font-color);
}

/* - - - Main - - - */

.global-main {
    grid-area: global-main;
}

/* Index Page */

#landing-page-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
}

#landing-page-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

#landing-page-links h3 {
    margin: .5rem;
}

/* About Page */

#about-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-landing h2 {
    margin: 1.5rem;
}

#about-landing img {
    max-height: 600px;
    width: auto;
    margin: 2rem;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Login Page */

#login-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
}

/* Register Page */

#register-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
}

/* - - - Footer - - - */

.global-footer {
    grid-area: global-footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

    background: var(--footer-background-color);
    color: var(--footer-text-color);
}
